@model StudentFormViewModel

<div class="modal fade" id="form-modal" tabindex="-1" aria-labelledby="form-modal" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" id="form-create" class="modal-content" enctype="multipart/form-data" novalidate>
            <div class="modal-header">
                <h5 id="form-modal-label" class="modal-title text-primary fw-bold"><i class="las la-plus-circle fs-4"></i> Crear estudiante</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <input type="hidden" asp-for="Id" id="input-id" class="input-create" />

                <div class="form-group mb-3">
                    <input type="hidden" asp-for="Photo" id="input-photo" class="input-create" />
                    <img src="~/img/unknown.png" alt="Foto de estudiante" id="photo-preview" class="text-primary d-flex justify-content-center align-items-center border border-2 border-primary rounded d-block mx-auto" width="150" height="125"/>
                </div>

                <div class="form-group has-danger mb-3">
                    <button type="button" id="button-add-photo" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#webcam-modal">
                        <i class="las la-camera fs-4"></i> Tomar foto
                    </button>

                    <input type="file" name="PhotoFile" accept="image/png,image/jpg,image/jpeg" id="input-photo-file" class="form-control input-create">
                    <div id="feedback-photo" class="invalid-feedback"></div>
                </div>
                
                <div class="form-group has-danger mb-3">
                    <label class="col-form-label fw-bold" for="input-nie"><span class="text-danger">*</span> NIE:</label>
                    <input type="number" asp-for="Nie" id="input-nie" class="form-control input-create">
                    <div id="feedback-nie" class="invalid-feedback"></div>
                </div>

                <div class="form-group has-danger mb-3">
                    <label class="col-form-label fw-bold" for="input-name"><span class="text-danger">*</span> Nombres:</label>
                    <input type="text" asp-for="Name" id="input-name" class="form-control input-create">
                    <div id="feedback-name" class="invalid-feedback"></div>
                </div>

                <div class="form-group has-danger mb-3">
                    <label class="col-form-label fw-bold" for="input-surname"><span class="text-danger">*</span> Apellidos:</label>
                    <input type="text" asp-for="Surname" id="input-surname" class="form-control input-create">
                    <div id="feedback-surname" class="invalid-feedback"></div>
                </div>
                
                <div class="form-group has-danger mb-3">
                    <label class="col-form-label fw-bold" for="input-birthdate">Fecha de nacimiento:</label>
                    <input type="date" asp-for="Birthdate" id="input-birthdate" class="form-control input-create">
                    <div id="feedback-birthdate" class="invalid-feedback"></div>
                </div>
                
                <div class="form-group has-danger mb-3">
                    <label class="col-form-label fw-bold" for="input-address">Dirección:</label>
                    <textarea asp-for="Address" id="input-address" class="form-control input-create"></textarea>
                    <div id="feedback-address" class="invalid-feedback"></div>
                </div>
                
                <div class="form-group text-dark mb-3">
                    <small><span class="text-danger fw-bold">*</span> Campos requeridos</small>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary"><i class="las la-save fs-4"></i> Guardar</button>
            </div>
        </form>
    </div>
</div>