body {
    font-family: "Arial Narrow", "Helvetica", "Arial", "sans-serif";
    font-size: 13px;
    margin: 20px 70px;
    text-align: center;
}

.logo {
    display: block;
    margin: 15px auto;
    width: 125px;
}

.logo_grades_certificate {
    width: 100px;
}

.letterhead {
    margin-bottom: 60px;
}

.letterhead_grades_certificate {
    margin-bottom: 20px;
}

.letterhead p,
.letterhead_grades_certificate p {
    margin: 0;
}

.main_content {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}

.main_content p {
    margin-bottom: 50px;
}

.main_content_grades_certificate {
    font-size: 17px;
    line-height: 1.5;
    text-align: justify;
}

.main_content_grades_certificate p {
    text-rendering: geometricPrecision;
}

.main_content_grades_certificate .table {
    border-collapse: collapse;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.main_content_grades_certificate .table .main_row {
    background: #A9AAAB;
}

.main_content_grades_certificate .table,
.main_content_grades_certificate th,
.main_content_grades_certificate td {
    border: 1px solid #212121;
    padding: 3px;
}

.main_content_grades_certificate .table .area_title {
    background: #E8E5E5;
    font-weight: bold;
    text-align: left;
}

.main_content_grades_certificate .table .name_column {
    text-align: left;
}

.main_content_grades_certificate .table .letters {
    white-space: nowrap;
}

.main_footer {
    margin-top: 200px;
    font-size: 18px;
}

.main_footer_grades_certificate {
    margin-top: 60px;
}

.main_footer .signature {
    border-bottom: 2px solid black;
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 350px;
}

.main_footer .signature span {
    top: -20px;
    left: -20px;
    position: absolute;
}

.main_footer .manager_name {
    margin: 5px;
}