html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-attachment: fixed;
  background-image: url('./../img/background.jpg');
  background-size: cover;

  min-height: 100vh;
  position: relative;
}

body::after {
  content: "";
  background-color: rgb(39,128,227);
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: .9;
  top: 0;
  z-index: -1;
}

.form-check-input {
  cursor: pointer;
}