@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "_Layout";
    }
}

<h2 class="card-title h4 text-primary fw-bold border-bottom border-2 border-primary mb-2">Configuración de cuenta de usuario</h2>

<div>
    <div class="row py-4">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
