@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Configurar app de autenticación";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<hr/>

<div>
    <p>Para usar una app de autenticación, siga los siguientes pasos:</p>
    <ol class="list">
        <li>
            <p>
                Descargar una app de autenticación en dos pasos como Microsoft Authenticator para
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> e
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> o
                Google Authenticator para
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> e
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p class="mb-4">Escanee el código QR o ingrese este código <kbd>@Model.SharedKey</kbd> dentro de su app de autenticación en dos pasos. Agregar espacios o letras en mayúscula no afecta.</p>
            <div class="d-flex justify-content-center">
                <div id="qrCode"></div>
                <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
            </div>
        </li>
        <li>
            <p class="mt-4 mb-4">
                Una vez haya escaneado el código QR o colocado el código de arriba, su app de autenticación en dos pasos le entregará su código único de verificación. Ingrese el código en el cuadro de texto de confirmación de abajo.
            </p>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <label asp-for="Input.Code" class="control-label form-label">Código de verificación</label>
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary"><i class="las la-check fs-4"></i> Verificar</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    
    <script type="text/javascript" src="~/lib/qrcode/qrcode.min.js"></script>
    <script type="text/javascript" src="~/js/qr.js"></script>
}
