@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Autenticación en dos pasos (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<hr>

@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>Usted ya no posee códigos de recuperación.</strong>
                    <p>Deberá <a asp-page="./GenerateRecoveryCodes">generar un nuevo conjunto de códigos de recuperación</a> antes de iniciar sesión con dicho código.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>Le quedan 1 código de recuperación.</strong>
                    <p>Puede <a asp-page="./GenerateRecoveryCodes">generar un nuevo conjunto de códigos de recuperación</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Le quedan @Model.RecoveryCodesLeft códigos de recuperación.</strong>
                    <p>Debería <a asp-page="./GenerateRecoveryCodes">generar un nuevo conjunto de códigos de recuperación</a>.</p>
                </div>
            }
            else
            {
                <div class="alert alert-success">
                    <strong>Le quedan @Model.RecoveryCodesLeft códigos de recuperación.</strong>
                    <p>Puede <a asp-page="./GenerateRecoveryCodes">generar un nuevo conjunto de códigos de recuperación</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Olvidar este navegador</button>
                </form>
            }
            <div class="mb-4 mt-4">
                <a asp-page="./Disable2fa" class="btn btn-danger"><i class="las la-trash fs-4"></i> Deshabilitar 2FA</a>
                <a asp-page="./GenerateRecoveryCodes" class="btn btn-outline-warning"><i class="las la-redo-alt fs-4"></i> Reiniciar códigos de recuperación</a>
            </div>
        }

        <h4 class="mb-4">App de autenticación</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary"><i class="las la-plus fs-4"></i> Agregar app de autenticación</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-secondary"><i class="las la-cog fs-4"></i> Configurar app de autenticación</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-outline-warning"><i class="las la-redo-alt fs-4"></i> Reiniciar clave de autenticación</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>No se ha aceptado la política de privacidad y cookies.</strong>
            <p>Debe aceptar la política antes de habilitar la autenticación en dos pasos.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
