<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema de Constancias</title>

    <link rel="stylesheet" href="~/css/reports.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/png" href="~/favicon.ico"/>
</head>
<body>

@RenderBody()

</body>
</html>
