@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirmación de cambio de email";
}

<h2 class="card-title h4 text-primary fw-bold border-bottom border-2 border-primary mb-4">@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="Model.StatusMessage" />
