@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "¿Olvidó su contraseña?";
}

<h2 class="card-title h4 text-primary fw-bold border-bottom border-2 border-primary mb-2">@ViewData["Title"]</h2>

<div class="row d-flex justify-content-center">
    <div class="col-md-4 py-4">
        <h2 class="text-center">Ingrese su email.</h2>
        <hr />
        
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary"><i class="las la-undo-alt fs-4"></i> Resetear contraseña</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
