@page
@model LockoutModel
@{
    ViewData["Title"] = "¡Usuario bloqueado!";
}

<header class="text-center p-3">
    <h1 class="text-danger display-3">@ViewData["Title"]</h1>
    <p class="text-danger fw-bold mb-4">Esta cuenta ha sido bloqueada. Por favor, inténtelo más tarde.</p>
    
    <section class="d-flex justify-content-center">
        <a asp-page="./Login" type="button" class="btn btn-primary d-block">
            <i class="las la-undo fs-4"></i> Regresar a login
        </a>
    </section>
</header>
