@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de reseteo de contraseña";
}

<h2 class="card-title h4 text-primary fw-bold border-bottom border-2 border-primary mb-2">@ViewData["Title"]</h2>
<p class="fw-bold pt-4">
    Su contraseña ha sido reseteada correctamente. Por favor inicie sesión dando <a asp-page="./Login">click aquí</a>.
</p>
